/*Contacto*/

section.formcontacto{
    display: flex;
    padding: 4rem;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.formcontacto__contacto{
    display: flex;
}

.formcontacto--izquierda{
    border-radius: 0.5rem 0 0 0.5rem;
    display: flex;
    align-items: center;
    
}

.formcontato__img{
    border-radius: 0.5rem;
}

.formcontato__text{
    border-radius: 0 0.5rem 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 4rem 3rem 4rem;
    color: white;
    line-height: 1.6;
}

.formcontacto__title{
    font-size: 2.5rem;
    margin-bottom: 6rem;
    color: #35818E;
    text-shadow: rgba(0, 0, 0, 0.781) 1px 3px;
    margin-bottom: 0;
}

.formcontacto__subtext{
    font-weight: 100;
}

.formcontacto__form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.formcontacto__input{
    border-radius: 0.5rem;
    padding: 1rem 14rem;
    font-weight: bold;
    font-family: 'Raleway';
    padding-left: 0.5rem;
}

.formcontacto__textarea{
    border-radius: 0.5rem;
    padding: 1rem 5rem;
    padding-left: 0.5rem;
    text-align: left;
    font-weight: bold;
    font-family: 'Raleway';
}

.formcontacto__botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24rem;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    background-color: #35818E;
    transition: all 500ms ease-in-out;
}

.formcontacto__botao:hover{
    color: #35818E;
    background-color: rgba(0, 0, 0, 0.233);
}

.warnings{
    color: rgb(221, 48, 48);
    font-size: small;
}

@media screen and (max-width: 420px){

    section.formcontacto{
        padding: 0;
    }

    .formcontacto__form{
        width: 300px;
    }

    .formcontato__img{
        display: none;
    }

    .formcontacto__input{
        width: 3rem;
    }

    .formcontacto__textarea{
        width: 12rem;
        height: 4rem;
    }

    .formcontacto__botao{
        width: 14rem;
    }

    .formcontacto__title{
        margin: 0;
    }

}