/* experiencia*/

section.experience{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    text-align: center;
    position: relative;
    top: 26rem;
    justify-content: center;
    
    
}

.experience__section__boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.experience__section__title{
    
    font-size: 2.5rem;
    margin-bottom: 4rem;
    color:#35818E;
    text-shadow: rgba(0, 0, 0, 0.781) 1px 3px;
}

.experience__box{
    display: flex;
    flex-direction: column;
    height: 36rem;
    text-align: center;
    justify-content: center;
    border-radius: 0.5rem;
    transition: all 500ms ease-in-out;
    background-color: black;
    position: relative;
    width: 25%;
    scale: 0.8;
    box-shadow: 4px 5px 10px #35818E;
}

.experience__box:hover{
    scale: 0.9;
}

.experience__box__img{
    width: 100%;
    height: 300px;
}

.experience__box__img--img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0.5rem 0.5rem 0 0;
    bottom: 1.5rem;
}

.experience__info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.experience__title{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: #35818E;
}

.experience__text{
    color: white;
    display: flex;
    padding: 1rem;

}

.experience__description{
    margin-bottom: 1rem;
}

.experiencia__botao--repo{
    background-color: #35818E;
    padding: 0.4rem;
    border-radius: 0.5rem;
    color: white;
    transition: all 400ms ease-in-out;
    border: none;
}

.experiencia__botao--repo:hover{
    background-color: white;
    color: #35818E;
}


.experience__botao--demo{
    background-color: #35818E;
    padding: 0.4rem;
    border-radius: 0.5rem;
    color: white;
    transition: all 400ms ease-in-out;
    border: none;
}

.experience__botao--demo:hover{
    background-color: white;
    color: #35818E;
}


@media screen and (max-width: 420px){

    section.experience{
        top: 14rem;
    }

    .experience__section__boxes{
        margin-top: 4rem;
    }

    .experience__section__boxes{
        flex-direction: column;
    }

    .experience__box{
        width: 100%;
        scale: 0.9;
        margin-bottom: 3rem;
    }

    .experiencia__botao--repo, .experience__botao--demo{
        padding: 0.8rem;
        margin-bottom: 2rem;
    }
}